nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-weight: bold;
    background: rgb(164, 198, 255);
    padding: 20px;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: aliceblue;
}